#
# ULP coprocessor (used for pulse counting during light sleep)
#
CONFIG_ULP_COPROC_ENABLED=y
CONFIG_ULP_COPROC_TYPE_RISCV=y
# Reserve 4 KB of RTC slow memory for ULP firmware + shared variables
CONFIG_ULP_COPROC_RESERVE_MEM=4096
